  function openVivoNightMode() {
    var html = document.querySelector("html");
    var style = document.createElement("style");
    var head = document.querySelector("head");
    var toutiaodongchedi = '';
    var toutiaodongchedi_div = `
    .page-article-detail{
      background: none !important;
    }
    .page-article-detail *, .page-article-detail, * > * {
    background-color:#0a0d13 !important;
    color: #646974 !important;
    box-shadow:none !important;
    text-shadow:none !important;
    border-color:#252e39 !important;
    -webkit-border-image:none !important;border-image:none !important;
    }
    `;
    var outlook = '';
    var outlook_div = `
    html, body, div, p, h1, h2, h3, h4, h5, h6, span, button, header, footer, section, article, a, aside, caption, img, input, ul, li, option, select, table, tbody, td, th, tfoot, th, thead, blockquote{
      color: #fff !important;
    }
    `;
    var newsqq = '';
    var newqq_div = `
    .item__info{
      background: none !important;
    }
    .item__info p{
      background: none !important;
    }
    .swiper-pagination{
      background: none !important;
    }
    .answer-li-p{
      background: none !important;
    }
    .answer-li-div{
      background: none !important;
    }
    .p-right-one{
      background: none !important;
    }
    .p-right-two{
      background: none !important;
    }
    .minigame__item__info{
      background: none !important;
    }
    .minigame__item__info p{
      background: none !important;
    }
    .minigame_play{
      background: none !important;
    }
    `;

    var dianping = '';
    var dianping_img = `
    div:after {
      background-color: transparent !important;
      background: none !important;
    }
    .hair-guide-list img, .right-img-contain img, .new-container, .group-icon.icon-ka, .water-item img, .banner-section .pic img, .picItem img {
      opacity: 0.5;
    }
    .wiki-tag-list:before, .wiki-tag-list span:after {
      background: none !important;
    }
    .my-collect {
      padding-top: 0.9rem;
      background: none !important;
    }
    .my-collect .text {
      height: 2.6rem;
    }
    .my-collect .text:after {
      background: none !important;
    }
    
    .listSection .list {
      background: none !important;
    }
    `;
    var meituan = '';
    var meituan_img = `
      .img-cover {
      background-color: transparent !important;
      }
    `;
    var maoyan = '';
    var maoyan_dots = `
      .dots {
      background-color: transparent !important;
      }
      .dots span {
        background-color: #ccc !important;
      }
      .dots .active {
        background-color: #fff !important;
      }
    `;
    var toutiao = '';
    var toutiao_div = `
      div:after {
        background-color: transparent !important;
      background: none !important;
      }
    .ttfe-image-backgroud-child {
      background: none !important;
    }
    .ttfe-image-backgroud-child>div {
      background: none !important;
    }
    .ttfe-image-backgroud-cover {
      height:0 !important
    }
    .ttfe-avatar.ttfe-avatar-mask:before {
      background: none !important;
    }
    a:hover div.ttfe-flex,
    a:hover .ttfe-flex *{
      background-color: #0a0d13 !important;
    }
    `;
    var xiecheng = '';
    var xiecheng_div = `
      .video-detail-page .video-detail-video div {
        background-color: transparent !important;
      }
      .video-js .vjs-control-bar,
      .video-js .vjs-control-bar div{
        background-color: #0a0d13 !important;
      }
      .video-js .vjs-progress-holder .vjs-load-progress > div {
        background-color: #999 !important;
      }
      .video-js .vjs-control-bar .vjs-progress-holder,
      .video-detail-page .video-detail-video .video-js .vjs-load-progress {
        background-color: rgba(115,133,159,.5) !important;
      }
      .video-detail-page .video-detail-video .video-js .vjs-play-progress {
        background-color: rgba(255, 255, 255, .5) !important;
      }
    `;
    if(window.location.href.indexOf("message-contents") >= 0) {
      outlook = outlook_div;
    };
    if(window.location.host.indexOf("news.qq.com") >= 0) {
      newsqq = newqq_div;
    };
    if(window.location.host.indexOf("dianping.com") >= 0) {
      dianping = dianping_img;
    };
    if(window.location.host.indexOf("meituan.com") >= 0) {
      meituan = meituan_img;
    };
    if(window.location.host.indexOf("ctrip.com") >= 0) {
      xiecheng = xiecheng_div;
    };
    if(window.location.host == "m.maoyan.com") {
      maoyan = maoyan_dots;
    };
    if(window.location.host == "haohuo.jinritemai.com" || window.location.host.indexOf("snssdk.com") >= 0) {
      toutiao = toutiao_div;
    };
    if(window.location.host.indexOf("tmaservice.developer.toutiao.com") >= 0 ||  /dcd.*\.com/.test(window.location.host)) {
      toutiaodongchedi = toutiaodongchedi_div;
    };
    var dUrl = window.decodeURIComponent(window.location.href);
    if (dUrl.indexOf('.weibo.cn/headportrait') > -1 || dUrl.indexOf('.weibo.cn/c/newuser/find') > -1) {
      return;
    }
    if (!html.classList.contains("vivo-night-mode")) {
      style.setAttribute("class", "vivo-black");
      html.classList.add("vivo-night-mode");
      var cssText = document.createTextNode(`
        .*,*:before,*:after{
          background-color:#0a0d13 !important;
          color:#646974 !important;
          box-shadow:none !important;
          text-shadow:none !important;
          border-color:#252e39 !important;
          -webkit-border-image:none !important;border-image:none !important;
        }
        html, body {
          background-color:#0a0d13 !important;
        }
        div, p, h1, h2, h3, h4, h5, h6, span, button, header, footer, section, article, a, aside, caption, img, input, ul, li, option, select, table, tbody, td, th, tfoot, th, thead, blockquote, font{
          background-color:transparent !important;
        }
        html, body, div, p, h1, h2, h3, h4, h5, h6, span, button, header, footer, section, article, a, aside, caption, img, input, ul, li, option, select, table, tbody, td, th, tfoot, th, thead, blockquote, font{
          color: #646974 !important;
          box-shadow:none !important;
          text-shadow:none !important;
          border-color:#252e39 !important;
          -webkit-border-image:none !important;border-image:none !important;
        }
        div:after, div:before, p:after, p:before, h1:after, h1:before, h2:after, h2:before,h3:after, h3:before ,h4:after, h4:before, h5:after, h5:before, h6:after, h6:before,
        span:after, span:before,button:after, input:before,input:after{
          background-color: transparent !important;
          color: #646974 !important;
          border-color:#252e39 !important;
          -webkit-border-image:none !important;border-image:none !important;
        }
      ${dianping}
      ${meituan}
      ${xiecheng}
      ${maoyan}
      ${toutiao}
      ${newsqq}
      ${toutiaodongchedi}
        a,a *{
          color:#3c5d85 !important;
          text-decoration:none !important;
          -webkit-tap-highlight-color: rgba(63,93,133,.75) !important;
        }
        a:hover,a:hover *{
          color:#3f6c9b !important;
          background-color:#1B1E23 !important;
        }
        a:visited,a:visited *,a:active,a:active *{
          color:#5c3668 !important;
        }
        select,select:hover,select:focus,
        option,option:hover,option:focus,
        button,button:hover,button:focus,
        textarea,textarea:hover,textarea:focus,
        input,input:hover,input:focus,
        input[type=text],input[type=text]:focus,
        input[type=search],input[type=search]:focus,
        input[type=password],input[type=password]:focus,
        input[type=tel],input[type=tel]:focus,
        input[type=email],input[type=email]:focus{
          outline:none !important;
          color:#646974 !important;
          background: transparent !important;
          border: 1px solid #646974!important;
        }
        img{
          border-color:#111111 !important;
        }
        ::-webkit-input-placeholder{
          color:#61615f !important;
        }
        
        ::-webkit-scrollbar-thumb{
            background-color:#666666 !important;
        }
        ::-webkit-scrollbar-track-piece{
            background-color:#2a2d33 !important;
        }
        hr{
            border-color:#252e39 !important;
        }

        video, iframe, canvas, svg,amp-social-share,
        embed[type='application/x-shockwave-flash'],
        object[type='application/x-shockwave-flash'],
        *[style*='url('] {
            -webkit-filter : opacity(50%);
            -ms-filter     : opacity(50%);
            filter         : opacity(50%);
        }

        input[type=text],input[type=password] {
          background-image: none;
        }
        .input-box{
          border:1px solid;
          border-color:#252e39 #252e39 #252e39 #252e39 !important;
        }
        ${outlook}
      `);
      style.appendChild(cssText);
      head.appendChild(style);
    } else {
      return;
    }
  }

  function closeVivoNightMode() {
    var html = document.querySelector("html");
    var blackStyle;
    if (!!document.querySelector(".vivo-black")) {
      blackStyle = document.querySelector(".vivo-black");
    }
    var head = document.querySelector("head");
    html.classList.remove("vivo-night-mode");
    if (blackStyle != null) {
      head.removeChild(blackStyle);
    }
  }